<div class="container">
  <div class="register-form">
    <form action="" method="post">
      <h1>Đăng ký tài khoản mới</h1>
      <div class="input-box">
        <input
          ng-model="formDangKy.username"
          type="text"
          placeholder="Nhập username"
        /><span class="text-danger">{{eror.username}}</span>
      </div>
      <div class="input-box">
        <input
          ng-model="formDangKy.password"
          type="password"
          placeholder="Nhập mật khẩu"
        /><span class="text-danger">{{eror.password}}</span>
      </div>
      <div class="input-box">
        <div class="col-6">
          <label for="ngaysinh">Ngày sinh</label>
          <br />  
          <input ng-model="formDangKy.ngaySinh" type="date" id="ngaysinh" />
          <span class="text-danger">{{eror.ngaySinh}}</span>
        </div>
        <div class="col-6">
          <label for="gioitinh">Giới tính</label>
          <br />
          <select ng-model="formDangKy.gioiTinh" id="gioitinh">
            
            <option ng-checked="formDangKy.gioiTinh == 1" value="nam">
              Nam
            </option>
            <option ng-checked="formDangKy.gioiTinh == 2" value="nu">Nữ</option>
          </select><span class="text-danger">{{eror.gioiTinh}}</span>
        </div>
        <div class="clear"></div>
      </div>

      <div class="btn-box">
        <button ng-click="dangKy($event);" type="submit">Đăng ký</button>
      </div>
    </form>
  </div>
</div>
