<div class="container">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
    style="margin-bottom: 50px"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img
          src="../assets/banner/40-realme-gt-neo-2.jpg.webp"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img
          src="../assets/banner/47-banner-k50-ultra.jpg.webp"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img
          src="../assets/banner/banner-realme-q5-pro.jpg.webp"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="product"><h4>Sản phẩm hot</h4></div>
  <div class="sanphamhot">
    <div class="row">
      <div ng-repeat="sp in listPage" class="col-lg-3">
        <div class="card" style="width: 18rem">
          <img
            src="../assets/ip/{{sp.anh}}.webp"
            class="card-img-top"
            alt="ảnh san phẩm"
          />
          <div class="card-body">
            <a href="#detail/{{sp.id}}"
              ><h5 class="card-title">{{sp.ten}}</h5></a
            >

            <p class="card-text">{{sp.mota}}</p>
            <p>Giá: {{sp.giaSale}} <span>{{sp.gia}}</span></p>
            <a href="#" class="btn btn-primary">Thêm vào giỏ</a>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" ng-click="getPhanTrang(pageHienTai-1,8)">
            <span class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>

          <li
            ng-repeat="n in pagin"
            ng-click="getPhanTrang(n,8)"
            class="page-item"
          >
            <span class="page-link">{{n}}</span>
          </li>

          <li class="page-item" ng-click="getPhanTrang(pageHienTai+1,8)">
            <span class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="product"><h4>Sản phẩm mới nhất</h4></div>
  <div class="sanphamhot">
    <div class="row">
      <div ng-repeat="sp in listPage" class="col-lg-3">
        <div class="card" style="width: 18rem">
          <img
            src="../assets/ip/{{sp.anh}}.webp"
            class="card-img-top"
            alt="ảnh san phẩm"
          />
          <div class="card-body">
            <a href="#detail/{{sp.id}}"
              ><h5 class="card-title">{{sp.ten}}</h5></a
            >
            <p class="card-text">{{sp.mota}}</p>
            <p>Giá: {{sp.giaSale}} <span>{{sp.gia}}</span></p>
            <a href="#" class="btn btn-primary">Thêm vào giỏ</a>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" ng-click="getPhanTrang(pageHienTai-1,8)">
            <span class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>

          <li
            ng-repeat="n in pagin"
            ng-click="getPhanTrang(n,8)"
            class="page-item"
          >
            <span class="page-link">{{n}}</span>
          </li>

          <li class="page-item" ng-click="getPhanTrang(pageHienTai+1,8)">
            <span class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
