<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <a href="#trangChu"><img src="../assets/logo.webp" alt="logo_web" /></a>
      <ul>
        <li><a href="">266 Đội Cấn, Ba Đình, Hà Nội</a></li>
        <li><a href="">190006789</a></li>
        <li><a href="">support@sapo.vn</a></li>
        <li><a href="http://">Hệ thống chi nhánh</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h4 style="margin: 0px">CHÍNH SÁCH</h4>
      <ul>
        <li><a href="">Chính sách bảo hành</a></li>
        <li><a href="http://">Chính sách đổi trả</a></li>
        <li><a href="#huongDanTT">Hướng dẫn thanh toán</a></li>
        <li><a href="http://">Chính sách vận chuyển</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h4 style="margin: 0px">HỖ TRỢ KHÁCH HÀNH</h4>
      <ul>
        <li><a href="#trangChu">Trang chủ</a></li>
        <li><a href="#sanPham">Sản phẩm</a></li>
        <li><a href="#TinTuc">Tin tức</a></li>
        <li><a href="#lienHe">Liên hệ</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h4 style="margin: 0px">PHƯƠNG THỨC THANH TOÁN</h4>
      <img src="../assets/thanhtoan.webp" alt="" />
    </div>
  </div>
</div>
